<h3>Showing reservation details </h3>

<%=@reservation.party_size%>
<%=@reservation.seating_time%>

<%=link_to "Delete Reservation",restaurant_reservation_path(@restaurant,@reservation),method: :delete %>


